<div class="card mt-3">
  <div class="card-body">
    <div class="comment-header">
      <% if comment.author.image %>
        <%= image_tag(comment.author.image, class:"rounded-circle", width:"50px", height:"50px") %>
      <% end %>
      <h6>Comment by: <%= comment.author.full_name %></h6>
      <h6><i>Updated <%= distance_of_time_in_words(Time.now, comment.updated_at) %> ago.</i></h6>
    </div>
    <p><i><%= comment.body %></i></p>
    <div class="comments-buttons">
      <% if comment.unpublished? %>
        <% if current_author && (current_author.id == comment.author_id) %>
          <%= link_to "Publish", post_comment_path(@post, comment, comment: { status: 1 }), method: :put, class: "btn btn-dark" %>
        <% end %>
      <% end %>
      <% if current_author && (current_author.id == comment.author_id) %>
        <%= link_to "Edit", edit_post_comment_path(@post, comment), class: "btn btn-dark" %>
      <% end %>
    </div>
    <% if comment.edited? %>
      <h5>Edited.</h5>
    <% end %>
  </div>
</div>
