<div class="form">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2>Please correct <%= pluralize(post.errors.count, "error") %> to save this post:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card">
      <div class="card-body">

        <div class="mb-3">
          <%= form.label :author, class: "form-label" %>
          <%= form.select :author_id, Author.all.collect { |a| [a.full_name, a.id] }, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= form.label :title, class: "form-label" %>
          <%== form.text_field :title, class: "input", placeholder: "Title" %>
        </div>

        <div class="mb-3">
          <%= form.label :image, class: "form-label" %>
          <%== form.text_field :image, class: "input", placeholder: "Image Url" %>
        </div>

        <div class="mb-3">
          <%= form.label :content, class: "form-label" %>
          <%== form.text_area :content, class: "input", placeholder: "Content" %>
        </div>

        <div class="actions">
          <%= form.submit "Submit", class: "btn btn-dark" %>
        </div>
      </div>
    </div>
    </div>
  <% end %>