<div class="form">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h4>Please correct <%= pluralize(post.errors.count, "error") %> to save this post:</h4>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="posts-form">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <%== form.text_field :title, class: "form-control", placeholder: "Title" %>
          </div>
          <div class="mb-3">
            <%== form.text_field :image, class: "form-control", placeholder: "Image Url" %>
          </div>
          <div class="mb-3">
            <%== form.text_area :content, class: "form-control", placeholder: "Content" %>
          </div>
          <div class="actions">
            <%= form.submit "Submit", class: "btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>
    </div>
  <% end %>