<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center">
        <% if post.image.present? %>
          <%= image_tag post.image, width: '400' %>
        <% else %>
          <%= image_tag("placeholder.png", width: '400') %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 data-bs-toggle="tooltip" title="Show a post" class="card-title"><%= link_to post.title, post, class: "link-dark" %></h5>
          <p class="card-text"><strong>By: <%= post.author.full_name %></strong></p>
          <p class="card-text"><i>"<%= post.content.truncate(400) %>"</i></p>
          <div class="outer">
            <div class="inner" data-bs-toggle="tooltip" title="Show a post">
              <%= link_to '', post, class: "btn btn-dark fa fa-eye" %>
            </div>
            <% if current_author && (current_author.id == post.author_id) %>
              <div class="inner" data-bs-toggle="tooltip" title="Edit a post">
                <%= link_to '', edit_post_path(post), class: "btn btn-dark fa fa-edit" %>
              </div>
              <div class="inner" data-bs-toggle="tooltip" title="Destroy a post">
                <%= link_to '', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark fa fa-trash" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Views:<%= post.views_count %>
    </div>
  </div>
<% end %>
<%= render 'posts/pagination', locals: { pagy: @pagy } %>

<%#= render 'sessions/modal' if show_modal? %>
