<div class="post-page-header">
  <div class="header-btn" data-bs-toggle="tooltip" title="Back to posts">
    <%= link_to '', posts_path, class: "btn btn-dark fa fa-arrow-left" %>
  </div>
  <h2><%= @post.title %></h2>
  <div class="header-btns">
    <% if current_author && (current_author.id == @post.author_id) %>
      <div class="inner" data-bs-toggle="tooltip" title="Edit a post">
        <%= link_to '', edit_post_path(@post), class: "btn btn-dark fa fa-edit" %>
      </div>
      <div class="inner" data-bs-toggle="tooltip" title="Destroy a post">
        <%= link_to '', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark fa fa-trash" %>
      </div>
    <% end %>
  </div>
</div>
<h6><i>This post has been updated <%= distance_of_time_in_words(Time.now, @post.updated_at) %> ago.</i></h6>
<p id="notice"><%= notice %></p>
<div class="post-container mb-3">
  <div class="image-container">
    <%= image_tag(@post.image, width: '500', class: 'rounded-3') %>
  </div>
  <div class="info-container px-5">
    <p>
      <strong>Creation date:</strong>
      <%= @post.created_at.strftime("%a, %m/%d/%y, %r") %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @post.author.full_name %>
    </p>
    <p><i><%= @post.content %></i></p>
  </div>
</div>
<div class="comments-container">
  <div class="comments-select align-items-center">
    <h4><%= pluralize(@comments.size, "comment") %> available:</h4>
    <div>
      <%= form_for('post', method: :get, :html => { :id => 'lead_form' }) do |f| %>

        <%= f.select :comments_scope, ['Published', 'Unpublished'], { selected: @comments_scope || 'Published' }, { onchange: 'this.form.submit();' } %>
      <% end %>
    </div>
  </div>

  <%= render @comments %>
</div>

<div class="container">
  <div class="create-comment-container">
    <h4>Leave your comment:</h4>
    <% if current_author %>
      <%= render 'comments/form', post: @post, comment: Comment.new %>
    <% else %>
      <p class="mb-3">Please log in to leave a comment!</p>
    <% end %>
  </div>
</div>

<%= render 'sessions/modal' if show_modal? %>