<h1>Profile</h1>
  <div class="profile-info">
    <div class="profile-info-item">
      <% if current_author.image %>
        <%= image_tag(@author.image, class:"rounded-circle", width:"100px", height:"100px") %>
      <% end %>
    </div>
    <div class="profile-info-item">
      <strong>First name:</strong>
      <%= @author.first_name %>
    </div>
    <div class="profile-info-item">
      <strong>Last name:</strong>
      <%= @author.last_name %>
    </div>
    <div class="profile-info-item">
      <% if @author.gender %>
      <strong>Gender:</strong>
        <%= @author.gender %>
      <% end %>
    </div>
    <div class="profile-info-item">
      <% if @author.birthday %>
      <strong>Birthday:</strong>
        <%= @author.birthday %>
      <% end %>
    </div>
    <% if current_author %>
    <%= link_to 'Edit', edit_author_path(current_author), class: "btn btn-warning" %>
    <% end %>
  </div>
