<div class="statistics" id="statistics-<%= comment.id %>">
  <div class="votes">
    <%= pluralize(comment.author_comment_votes.count, "Vote") %>:
  </div>
  <div class="votes-count">
    <%= pluralize(comment.author_comment_votes.liked.count, "Like") %>
    |
    <%= pluralize(comment.author_comment_votes.disliked.count, "Dislike") %>
    <div class="rating">
      Total rating: <%= total_rating %>
    </div>
  </div>
</div>
<% if current_author && !comment.voted_by?(current_author) %>
  <div class="mt-1">
    Vote:
    <%= link_to '', post_comment_like_path(@post, comment), remote: true, method: :post, class: "like btn btn-dark fa fa-thumbs-up" %>
    <%= link_to '', post_comment_dislike_path(@post, comment), remote: true, method: :post, class: "btn btn-dark fa fa-thumbs-down" %>
  </div>
<% end %>
